*,cover
*.log
*.pyc
*.pyd
*.pyo
.Python
.cache
.coverage
.coverage.*
.dockerignore
.git
.github
.gitignore
.tox
.travis.yml
Dockerfile
README.md
__pycache__
coverage.xml
env
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
